/* Stylesheet for Mobile App */

/* Reset */
html,body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,header,footer,nav
{
	margin:0;
	padding:0;
}

/* Universal Style */
body
{
	background-color:#d1f4f4;
}
div#container
{
	width:100%;
	background-color:#d6d3f2;
}
header
{
	width:auto;
	padding:25px;
	background-color:#9c55c3;
}
header h1
{
	color:white;
	font-family:'OCR A std',sans-serif;
	font-size:30px;
}
div#content
{
	width:300%;
	height:34px;
	background-color:#bcb7eb;
}
div h3
{
	font-family:'OCR A std',sans-serif;
	font-size:24px;
}
nav
{
	width:100%;
	background-color:#d6d3f2;
	color: black;
	font-family:'OCR A std',sans-serif;
}
nav ul
{
	list-style:none;
}
nav ul li a
{
	float:left;
	display:block;
	padding: 10px 15px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	color:black;
	text-decoration:none;
}
nav ul li a:hover
{
	background-color:darkblue;
	color:white;
}
footer
{
position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:50px;
	background-color:#a795c9
}
div.keepopen
{
	clear:both;
}
/* when the screen is smaller, change the color*/
@media screen and (max-width:975px) 
{
	div#container 
	{
		width:100%;
	}
	nav ul li a 
	{
		float:none;
		text-align:center;
	}
}